<div class="jumbotron">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <!-- Add an image below! -->
  <!-- <img src="images/yeoman.png" alt="I'm Yeoman"><br> -->

  <!-- Generate recommendation -->
  <h1>Generate a recommendation!</h1>
  <form class="form-inline" role="form">
    <button ng-click="generateRecommendations()" class="btn btn-success">What should I watch?</button>
  </form>

  <!-- Review movies -->
  <h2Ha>Review movies!</h2>
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="addMovie">Input movie</label>
      <input type="text" ng-model="userInput" class="form-control" id="userInput" placeholder="Include your usename here...">
      <input type="text" ng-model="addMovie" class="form-control" id="addMovie" placeholder="Add a movie name here...">
      <select name="rating" ng-model="movieRating">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
      </select>
    </div>
    <button ng-click="addToMovies()" class="btn btn-lg btn-success">Add to movies</button>

  <!-- Display results -->
  </form>
  <table class="table">
    <tr ng-repeat="result in results">
      <td>{{result[0]}}</td><td>{{result[1]}}</td>
    </tr>
  </table>
</div>
